CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest*.*
*.a
_CPack_Packages/

#VS/Windows related
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.opensdf
*.vcxproj
*.vcxproj.user
*.filters
*.lib
*.sdf
*.sln
*.suo
*.obj
*.tlog
*.log
*.pdb
*.cache
*.exe
*.so
*CSHARP_wrap.cxx
*PYTHON_wrap.cxx
*.cs
*.py
*.xcuserstate
*.xccheckout

Testing
Doxygen_output
ports.db
subs.db
test.db
Version
MPlusM/MPlusM.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/MPlusM.xcscheme
MPlusM/MPlusM.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/xcschememanagement.plist
mpmAbsorberService
mpmAddressClient
mpmAddressService
mpmBridgeClient
mpmBridgeService
mpmChordGeneratorService
mpmClientList
mpmCommonTest
mpmEchoClient
mpmEchoService
mpmExemplarAdapter
mpmExemplarClient
mpmExemplarFilterService
mpmExemplarInputService
mpmExemplarOutputService
mpmExemplarService
mpmFindServices
mpmJavaScriptService
mpmLeapMotionInputService
mpmMovementDbAdapter
mpmMovementDbClient
mpmMovementDbService
mpmNaturalPointInputService
mpmRandomBurstStreamService
mpmRandomNumberAdapter
mpmRandomNumberClient
mpmRandomNumberService
mpmRecordAsJSONService
mpmRecordIntegersStreamService
mpmParserTest
mpmPortLister
mpmRandomBurstService
mpmRecordIntegersService
mpmRegistryService
mpmRegistryTest
mpmRequestCounterClient
mpmRequestCounterService
mpmRequestInfo
mpmRunningSumAdapter
mpmRunningSumAltAdapter
mpmRunningSumClient
mpmRunningSumService
mpmServiceLister
mpmTestLoopbackControl
mpmTestLoopbackResponder
mpmTestSink
mpmTestSource
mpmTruncateFilterService
mpmTruncateFilterStreamService
mpmTruncateFloatService
mpmTunnelClient
mpmTunnelService
mpmTwoFingersInputService
mpmUnrealOutputService
mpmVersion

UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
Documentation/*.aux
Documentation/*.mpx
Documentation/*.dvi
Documentation/*.eps
Documentation/*.idx
Documentation/*.ilg
Documentation/*.ind
Documentation/*.lof
Documentation/*.out
Documentation/*.pdf
Documentation/*.png
Documentation/*.ps
Documentation/*.toc
Documentation/*.htoc
Documentation/*.haux
Documentation/*.html
Documentation/*.hind
Documentation/mpm_images/*.png
!Documentation/makefile
mpxerr.tex
mpm/M+MConfig.h
mpmServiceMetrics
!LeapMotion/LeapMotionInputService/win_lib/*.*
KinectV2/KinectV2InputService/Release/mpmKinectV2InputService.exe.piz
RegistryService/Release/mpmRegistryService.exe.piz
ViconDataStream/ViconDataStreamInputService/Release/mpmViconDataStreamInputService.exe.piz
CPackConfig.cmake
CPackSourceConfig.cmake
!bonjoursdksetup.exe
!ViconDataStream/ViconDataStreamInputService/ViconLib/Lib/ViconDataStreamSDK_CPP.lib

MplusM/build/M+M.mpkg/Contents/distribution.dist
MplusM/build/M+M.mpkg/Contents/Packages/Core.pkg
MplusM/build/M+M.mpkg/Contents/Packages/Developer.pkg
MplusM/build/M+M.mpkg/Contents/Resources/English.lproj/license.rtf
MplusM/build/M+M.mpkg/Contents/Resources/English.lproj/Localizable.strings
MplusM/build/M+M.mpkg/Contents/Resources/English.lproj/welcome.rtf
MplusM/Developer/build/Developer.pkg
MplusM/build_debug/M+M.mpkg/Contents/distribution.dist
MplusM/build_debug/M+M.mpkg/Contents/Packages/Core.pkg
MplusM/build_debug/M+M.mpkg/Contents/Packages/Developer.pkg
MplusM/build_debug/M+M.mpkg/Contents/Resources/English.lproj/license.rtf
MplusM/build_debug/M+M.mpkg/Contents/Resources/English.lproj/Localizable.strings
MplusM/build_debug/M+M.mpkg/Contents/Resources/English.lproj/welcome.rtf
M+M.pkg
Developer.pkg
ODLogging_wrap.cxx
mpm/libmpmCommon.dylib
odl/libodLogging.dylib
mpm_images.tar.gz
