CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.a
Testing
Doxygen_output
Common/test.db
YarpPlusPlus/YarpPlusPlus.xcodeproj/project.xcworkspace/xcshareddata/YarpPlusPlus.xccheckout
Parser/ParserTest
YarpPlusPlus/YarpPlusPlus.xcodeproj/xcuserdata/M_M.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RegistryService/RegistryTest
RegistryService/test.db
RequestCounterService/RequestCounterService
CTestTestfile.cmake
Common/CTestTestfile.cmake
Common/CommonTest
Common/YPPConfig.h
RegistryService/CTestTestfile.cmake
RegistryService/RegistryService
RequestCounterClient/RequestCounterClient
RequestInfo/RequestInfo
ServiceLister/ServiceLister
YarpPlusPlus/YarpPlusPlus.xcodeproj/project.xcworkspace/xcuserdata/njaffe.xcuserdatad/UserInterfaceState.xcuserstate
YarpPlusPlus/YarpPlusPlus.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
YarpPlusPlus/YarpPlusPlus.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/YarpPlusPlus.xcscheme
YarpPlusPlus/YarpPlusPlus.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/xcschememanagement.plist
ports.db
subs.db
ExampleRunningSumAdapter
EchoClient
EchoService
RandomNumberClient
RandomNumberService
RunningSumAdapter
RunningSumClient
RunningSumService
RandomNumberAdapter
system.log
PortLister
