CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
*.a

#VS/Windows related
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.opensdf
*.vcxproj
*.filters
*.lib
*.sdf
*.sln
*.suo
*.obj
*.tlog
*.log
*.pdb
*.cache
*.exe

Testing
Doxygen_output
ports.db
subs.db
test.db
Common/M+MConfig.h
Version
MPlusM/MPlusM.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/MPlusM.xcscheme
MPlusM/MPlusM.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/xcschememanagement.plist
MPlusM/MPlusM.xcodeproj/project.xcworkspace/xcuserdata/njaffe.xcuserdatad/UserInterfaceState.xcuserstate
mpmChordGeneratorService
mpmClientList
mpmCommonTest
mpmEchoClient
mpmEchoService
mpmRandomBurstStreamService
mpmRandomNumberAdapter
mpmRandomNumberClient
mpmRandomNumberService
mpmRecordIntegersStreamService
mpmParserTest
mpmPortLister
mpmRegistryService
mpmRegistryTest
mpmRequestCounterClient
mpmRequestCounterService
mpmRequestInfo
mpmRunningSumAdapter
mpmRunningSumAltAdapter
mpmRunningSumClient
mpmRunningSumService
mpmServiceLister
mpmTruncateFilterStreamService
mpmVersion
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
*.mpx
*.ps
Documentation/MpM_Manual.aux
Documentation/MpM_Manual.dvi
Documentation/MpM_Manual.idx
Documentation/MpM_Manual.ilg
Documentation/MpM_Manual.ind
Documentation/MpM_Manual.lof
Documentation/MpM_Manual.out
Documentation/MpM_Manual.pdf
Documentation/MpM_Manual.toc
!Documentation/makefile
